<div class="logo">
  <svg>
    <use xlink:href="<%= asset_path 'sprite-inline.svg#logo-white' %>"></use>
  </svg>
  <h1>Forgot password</h1>
  <p></p>
  <div class="background">
    <img src="<%= asset_path 'circle.png' %>">
  </div>
</div>
<%= render 'shared/flash' %>

<%= form_tag ("/send_recover_pass") do %>
    <label>Email
        <input name="email" type="email">
    </label>
    <button type="submit" class="main-btn color-btn"><span>Submit</span></button>
<% end %>
