<div class="logo">
  <svg>
    <use xlink:href="<%= asset_path 'sprite-inline.svg#logo-white' %>"></use>
  </svg>
  <h1>Login</h1>
  <p>Welcome back.</p>
  <div class="background">
    <img src="<%= asset_path 'circle.png' %>">
  </div>
</div>
<%= render 'shared/flash' %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<%= form_for(:member, :url => '/auth/site/callback') do |f| %>
    <label>Email address
      <%= f.text_field :email %>
    </label>
    <label>Password <%= link_to "Forgot?", forgot_path %>
      <%= f.password_field :password %>
    </label>
    <div class="g-recaptcha" data-sitekey="6LcVhGwUAAAAAK91ngAHlPrLVh9MJamD-W5NDKOn" style="display:flex;
    justify-content:center;"></div>
    <button type="submit" class="main-btn color-btn"><span>Login</span></button>
    <p>Don't have an account? <%= link_to "Join", regist_path %></p>
<% end %>
<% if @member.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @member.errors.full_messages %>
        <li>* <%= message_error %></li>
      <% end %>
    </ul>
<% end %>
