<% content_for :guide_title do %>
  <h3 class="text-center">Password recovery</h3>
<% end %>

<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
    <%= form_for(:member, :url => '/reset_pass') do |f| %>
    <div class="row">
        <div class="col-12 input-group"><%= f.password_field :password, placeholder: 'Password', class: 'btn-block btn-lg' %></div>
        <div class="col-12 input-group"><%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'btn-block btn-lg' %></div>
        <input type="hidden" value="<%= @member.salt %>" name="salt">
        <div class="col-12 input-group">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
        </div>
    </div>
    <% end %>
</div>
