<div class="logo">
  <svg>
    <use xlink:href="<%= asset_path 'sprite-inline.svg#logo-white' %>"></use>
  </svg>
  <h1>Register</h1>
  <p>Welcome back.</p>
  <div class="background">
    <img src="<%= asset_path 'circle.png' %>">
  </div>
</div>
<%= render 'shared/flash' %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<%= form_for(:member, :url => '/signup') do |f| %>
    <div class="two-input">
      <label class="short">Username
        <%= f.text_field :username %>
      </label>
      <label class="short">Email address
        <%= f.text_field :email %>
      </label>
    </div>
    <div class="two-input">
      <label class="short">Password
        <%= f.password_field :password %>
      </label>
      <label class="short">Password Confirmation
        <%= f.password_field :password_confirmation %>
      </label>
    </div>
    <div class="g-recaptcha" data-sitekey="6LcVhGwUAAAAAK91ngAHlPrLVh9MJamD-W5NDKOn" style="display:flex;
    justify-content:center;"></div>
    <button type="submit" class="main-btn color-btn"><span>Sign up</span></button>
<% end %>

<% if @member.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @member.errors.full_messages %>
        <li>* <%= message_error %></li>
      <% end %>
    </ul>
<% end %>
