/* peatio exchange site vars
-------------------------------------------------------------- */

$brand-width: auto;
$funds-panel-height: 750px;

$footer-bg: $body-bg;
$footer-height: 292px;
$footer-color: #5a5a5a;
$footer-border: #ddd;

$content-split: #ddd;

$btn-gutter-width: 20px;
$text-gutter-width: 5px;
$icon-gutter-width: 5px;

$up-bg: rgba(89, 132, 50, 1.0);
$down-bg: rgba(159, 49, 27, 1.0);
