.navbar .languages a.active{
    color: #f99d7c;
}
.header_title{
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 45px;
}
.text_site_logo{
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}
body{
    background-color: #fff;
}
// html{
//     position: relative;
//     height: 100%;
// }
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 991px){
    .footer{
        position: relative;
    }
}
#funds-index,
.ui-radius{
    font-size: 14px;
    background: linear-gradient(56deg, #0f1477, #0f1477 90%, #d65062);
    background-color: #0f1577;
    color: #ffffff;
    min-height: 100%;
    background-repeat: no-repeat;
    height: auto !important;
    .main-btn{
        max-width: 140px;
        max-height: 45px;
        span{
            font-size: 15px;
            line-height: 35px;
        }
    }
    p{
        margin-bottom: 1rem;
    }
    h3, h4{
        margin-bottom: 0.5rem;
    }
}
.card-currencies{
    color: #08064b;
    h2, p{
        color: #08064b;
    }
}
.qrcode-container img{
    max-width: 100%;
}
.withdraw-instruction .steps{
    border: 1px solid rgba(244,107,137,0.45);
    color: #ef325b;
}
.currency-item{
    &.selected{
        background: linear-gradient(102deg, #ffda90, #ef325b);
        p, a, .currency-left .currency-symbol{
            color: #fff;
        }
    }
    a, .currency-symbol{
        color: #f0575e;
    }
    .currency-left .currency-symbol{
        color: #08064b;
    }
}
.privacy_popup{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 50px;*/
    background: #111b42;
    padding: 10px 20px;
    z-index: 10;
    a{
        color: #f1901c;
    }
    button{
        float: right;
        cursor: pointer;
    }
}
@media (max-width: 1200px){
    #funds-index{
        .card-body{
            padding: 1.25rem 1.25rem 1.25rem 0;
        }
        .table-currencies{
            display: block;
            tbody{
                display: block;
                .currency-item{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    border-bottom: 1px solid #ddd;
                    td{
                        width: 100% !important;
                        padding: 5px 10px !important;
                        border-bottom: none;
                        .currency-logo{
                            margin: auto;
                        }
                    }
                    &.deposit-now{
                        .currency-actions{
                            &:after, &:before{
                                top: 16px;
                            }
                        }
                    }
                    &.withdraw-now{
                        .currency-actions{
                            &:after, &:before{
                                top: 58px;
                            }
                        }
                    }
                }
            }
        }
    }
    .card-body{
        table, thead, tbody, th, td, tr{
            display: block;
        }
        table{
            thead > tr{
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            tr{
                border: 1px solid #ccc;
                &:nth-of-type(odd){
                    background: #eee;
                }
                td{
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    &:before {
                        position: absolute;
                        top: 6px;
                        left: 6px;
                        width: 45%;
                        padding-right: 10px;
                        white-space: normal;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
    .card-body{
        #withdraw_sum{
            width: 100%;
        }
    }
}
