<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password recovery <%= ENV['URL_HOST'] %></h1>
    <p>
      This email was sent for password recovery on <%= ENV['URL_HOST'] %><br>
    </p>
    <p>
      To recover your password, click on the link: <a href="<%= recover_pass_url(@member.salt, protocol:'https') %>"><%= recover_pass_url(@member.salt, protocol: 'https') %></a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
