Password recovery <%= ENV['URL_HOST'] %>
===============================================

This email was sent for password recovery on <%= ENV['URL_HOST'] %>

To recover your password, click on the link: <<%= recover_pass_url(@member.salt, protocol: 'https') %>>.

Thanks for joining and have a great day!
