<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is test email from <%= ENV['URL_HOST'] %></h1>
    <p>
      Hello World
    </p>
  </body>
</html>
