<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= ENV['URL_HOST'] %></h1>
    <p>
      You have successfully signed up to <%= ENV['URL_HOST'] %>,
      your username is: <%= @member.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="<%= verif_email_url(@member.salt, protocol: 'https') %>"><%= verif_email_url(@member.salt, protocol: 'https') %></a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
