Welcome to <%= ENV['URL_HOST'] %>
===============================================

You have successfully signed up to <%= ENV['URL_HOST'] %>,
your username is: <%= @member.username %>.

To login to the site, just follow this link: <<%= verif_email_url(@member.salt, protocol: 'https') %>>.

Thanks for joining and have a great day!
