<% content_for :frame do %>
  <div class="container history-pages">
    <%= render 'tabs', active: :account %>

    <div class="card card-default" id="transactions">
      <div class="card-body">
        <div class="col-24">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><%= t('.type') %></th>
                <th><%= t('.timestamp') %></th>
                <th><%= t('.currency') %></th>
                <th><%= t('.amount') %></th>
                <th><%= t('.fee') %></th>
                <th><%= t('.txid') %></th>
              </tr>
            </thead>
            <tbody class="list">
              <%= render partial: 'transaction', collection: @transactions %>
            </tbody>
          </table>
          <div class="pull-right">
            <%= paginate @transactions %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
  @media (max-width: 1200px){
    .card-body tbody td:nth-of-type(1):before { content: '<%= t('.type') %>'; }
    .card-body tbody td:nth-of-type(2):before { content: '<%= t('.timestamp') %>'; }
    .card-body tbody td:nth-of-type(3):before { content: '<%= t('.currency') %>'; }
    .card-body tbody td:nth-of-type(4):before { content: '<%= t('.amount') %>'; }
    .card-body tbody td:nth-of-type(5):before { content: '<%= t('.fee') %>'; }
    .card-body tbody td:nth-of-type(6):before { content: '<%= t('.txid') %>'; }
  }
  </style>
<% end %>
