<% content_for :frame do %>
  <div class="container history-pages">
    <%= render 'tabs', active: :order %>

    <div class="card card-default" id="orders">
      <div class="card-body">
        <div class="col-24">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><%= t('.id') %></th>
                <th><%= t('.type') %></th>
                <th><%= t('.state') %></th>
                <th><%= t('.market') %></th>
                <th><%= t('.price') %></th>
                <th><%= t('.volume') %></th>
                <th><%= t('.average_price') %></th>
                <th><%= t('.fulfilled_volume') %></th>
                <th><%= t('.timestamp') %></th>
              </tr>
            </thead>
            <tbody class="list">
              <%= render partial: 'order', collection: @orders %>
            </tbody>
          </table>
          <div class="pull-right">
            <%= paginate @orders %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
  @media (max-width: 1200px){
    .card-body tbody td:nth-of-type(1):before { content: '<%= t('.id') %>'; }
    .card-body tbody td:nth-of-type(2):before { content: '<%= t('.type') %>'; }
    .card-body tbody td:nth-of-type(3):before { content: '<%= t('.state') %>'; }
    .card-body tbody td:nth-of-type(4):before { content: '<%= t('.market') %>'; }
    .card-body tbody td:nth-of-type(5):before { content: '<%= t('.price') %>'; }
    .card-body tbody td:nth-of-type(6):before { content: '<%= t('.volume') %>'; }
    .card-body tbody td:nth-of-type(7):before { content: '<%= t('.average_price') %>'; }
    .card-body tbody td:nth-of-type(8):before { content: '<%= t('.fulfilled_volume') %>'; }
    .card-body tbody td:nth-of-type(9):before { content: '<%= t('.timestamp') %>'; }
  }
  </style>
<% end %>
