<% content_for :frame do %>
  <div class="container history-pages">
    <%= render 'tabs', active: :trade %>

    <div class="card card-default" id="trades">
      <div class="card-body">
        <div class="col-24">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><%= t('.side') %></th>
                <th><%= t('.created_at') %></th>
                <th><%= t('.display_currency') %></th>
                <th><%= t('.base_amount') %></th>
                <th><%= t('.quote_currency') %></th>
                <th><%= t('.quote_amount') %></th>
                <th><%= t('.price') %></th>
              </tr>
            </thead>
            <tbody class="list">
              <%= render partial: 'trade', collection: @trades %>
            </tbody>
          </table>
          <div class="pull-right">
            <%= paginate @trades %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
  @media (max-width: 1200px){
    .card-body tbody td:nth-of-type(1):before { content: '<%= t('.side') %>'; }
    .card-body tbody td:nth-of-type(2):before { content: '<%= t('.created_at') %>'; }
    .card-body tbody td:nth-of-type(3):before { content: '<%= t('.display_currency') %>'; }
    .card-body tbody td:nth-of-type(4):before { content: '<%= t('.base_amount') %>'; }
    .card-body tbody td:nth-of-type(5):before { content: '<%= t('.quote_currency') %>'; }
    .card-body tbody td:nth-of-type(6):before { content: '<%= t('.quote_amount') %>'; }
    .card-body tbody td:nth-of-type(7):before { content: '<%= t('.price') %>'; }
  }
  </style>
<% end %>
