<% if !current_user.nil? and current_user.privacy == 0%>
    <div class="privacy_popup">
        <a href="/privacy">Privacy policy</a> <a href="/privacy_agree"><button class="main-btn transparent-btn"><span>Agree</span></button></a>
    </div>
<% end %>

<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="footer_title">Company</div>
                <div class="footer_list">
                    <ul>
                        <a href="#"><li>About us</li></a>
                        <a href="#"><li>News</li></a>
                        <a href="#"><li>Emergency Contacts</li></a>
                        <a href="#"><li>Contact</li></a>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="footer_title">Customer Services</div>
                <div class="footer_list">
                    <ul>
                        <a href="#"><li>Blog</li></a>
                        <a href="#"><li>FAQs</li></a>
                        <a href="#"><li>Help</li></a>
                        <a href="#"><li>Terms and Conditions</li></a>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone"><i class="fas fa-phone"></i>+357 123 123 12</div>
                <div class="address"><i class="fas fa-map-marker-alt"></i><span>Athinodorou Business Center 4th Floor, Suite 402 20  Charalambou Mouskou & Grigori Afxentiou Street Paphos, Paphos, Cyprus</span></div>
            </div>
            <div class="col-12 copyright">&copy; <%= Time.now.strftime("%Y")%> | <a href="#">Privacy Policy</a></div>
        </div>
    </div>
</footer> -->
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="column">
        <h6>Company</h6>
        <ul>
          <li>About us</li>
          <li>News</li>
          <li>Emergency Contacts</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="column">
        <h6>Customer Services</h6>
        <ul>
          <li>Blog</li>
          <li>FAQs</li>
          <li>Help</li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
      <div class="column wide">
        <h6>Contact</h6>
          <ul>
            <li>
              <svg>
             <use xlink:href="<%= asset_path 'sprite-inline.svg#phone' %>"></use>
          </svg>
          <span>(+34) -653 378 193</span>
              </li>
              <li>
              <svg>
            <use xlink:href="<%= asset_path 'sprite-inline.svg#pin' %>"></use>
              </svg>
          <span>
            Athinodorou Business Center 4th Floor, Suite 402 20 Charalambou
            Mouskou & Grigori Afxentiou Street Paphos, Paphos, Cyprus
          </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>©2018 | Privacy Policy</p>
      </div>
    </div>
  </div>
</footer>
