<div class="container">
    <% if content_for?(:before) %>
    <%= yield(:before) %>
    <% end %>
    <div class="card-body">
        <div class="row">
            <div id="guide" class="col-12">
                <% if content_for?(:guide_title) %>
                <%= yield(:guide_title) %>
                <% else %>
                <h3><%= guide_title %></h3>
                <% end %>
                <p class="text-ignore"><%= guide_intro %></p>
                <% if content_for?(:guide) %>
                <%= yield(:guide) %>
                <% end %>
                <%= render 'shared/flash' %>
                <%= yield %>
            </div>
        </div>
        <% if content_for?(:secondary) %>
        <%= yield(:secondary) %>
        <% end %>
    </div>
    <% if content_for?(:after) %>
    <%= yield(:after) %>
    <% end %>
</div>
