<!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
    <img src="<%= language_path %>"/>
    <b class="caret"></b>
  </a>
  <div id="languages" class="dropdown-menu">
    <% I18n.available_locales.each do |lang| %>
      <a class="dropdown-item" href="?lang=<%= lang %>">
        <img src="/languages/<%= lang || I18n.locale %>.png"/>
      </a>
    <% end %>
  </div>
</li> -->
<li class="nav-item dropdown languages">
    <ul>
        <li>
            <a class="nav-link <%= if I18n.locale.to_s == 'en' then 'active' end %>" href="?lang=en">En</a>
        </li>
        <li>
            <a class="nav-link <%= if I18n.locale.to_s == 'ru' then 'active' end %>" href="?lang=ru">Ru</a>
        </li>
    </ul>
</li>
