<div class="line"></div>
<div class="line"></div>
<div class="line"></div>
<div class="line"></div>
<div class="line"></div>
<section class="main">
    <div class="background"><img src="<%= asset_path 'main-bg.png' %>"></div>
    <div class="container">
        <header class="header">
            <div class="container">
                <div class="header__wrapper"><a class="logo" href="/">
                    <svg>
                        <use xlink:href="<%= asset_path 'sprite-inline.svg#logo-white' %>"></use>
                    </svg><span>Innova.Exchange</span></a>
                    <div class="users-buttons">
                        <div class="languages">
                            <ul>
                                <li>
                                    <a class="<%= if I18n.locale.to_s == 'en' then 'active' end %>" href="?lang=en">En</a>
                                </li>
                                <li>
                                    <a class="<%= if I18n.locale.to_s == 'ru' then 'active' end %>" href="?lang=ru">Ru</a>
                                </li>
                            </ul>
                        </div>
                        <% if current_user.nil? %>
                            <a class="main-btn transparent-btn" href="/login"><span>Login</span></a>
                            <a class="main-btn color-btn" href="/regist">
                                <svg>
                                    <use xlink:href="<%= asset_path 'sprite-inline.svg#user' %>"></use>
                                </svg>
                                <span>Register</span>
                            </a>
                        <% else %>
                            <a class="main-btn transparent-btn" href="/settings">
                                <span>Settings<%# current_user.email %></span>
                            </a>
                            <a class="main-btn transparent-btn" href="/signout">
                                <span>Log out</span>
                            </a>
                        <% end %>
                    </div>
                </div>
                <div class="header__burger js-burger"><span></span><span></span><span></span></div>
                <div class="menu"><a class="active" href="/">Home</a><a href="<%=trading_path(current_market.id)%>">Trade</a><a href="#">News</a>
                    <div class="languages">
                        <ul>
                            <li>
                                <a class="<%= if I18n.locale.to_s == 'en' then 'active' end %>" href="?lang=en">En</a>
                            </li>
                            <li>
                                <a class="<%= if I18n.locale.to_s == 'ru' then 'active' end %>" href="?lang=ru">Ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="main__wrapper">
            <h1>Digital Most Advanced <em>Trading</em> Platform</h1>
            <p>Create an account today and start trading with us !</p><a class="main-btn color-btn" href=""><span>Get Coins Now</span></a>
        </div>
    </div>
</section>
<section class="markets">
    <div class="background">
        <!--svg: use(xlink:href='img/sprite-inline.svg#markets-line')--><img src="<%= asset_path 'markets-line.png' %>">
        <!--include ../img/pages/svg/markets-line.svg-->
    </div>
    <div class="background-tablet"><img src="<%= asset_path 'markets-line-tablet.png' %>"></div>
    <div class="background-mobile"><img src="<%= asset_path 'markets-line-mobile.png' %>">
        <!--include ../img/pages/svg/markets-line.svg-->
    </div>
    <h2 data-title="Markets">Markets</h2>
    <div class="container">
        <div class="markets__table">
            <table>
                <thead>
                    <tr class="table-header">
                        <th>Pair</th>
                        <th>Trade</th>
                        <th>24h Change</th>
                        <th>24h High</th>
                        <th>24h Low</th>
                        <th>24h Volume</th>
                    </tr>
                </thead>
                <tbody id="main_page_markets_table">
                    <tr>
                        <td>BTC / ETH</td>
                        <td>0.08823000 / $ 1,189.34</td>
                        <td class="red">- 3.25 %</td>
                        <td>0.08823000</td>
                        <td>0.08823000</td>
                        <td>21,070.92 BTC</td>
                    </tr>
                    <tr>
                        <td>ETH / BTC</td>
                        <td>0.08823000 / $ 1,189.34</td>
                        <td class="green">+ 12.78 %</td>
                        <td>0.08823000</td>
                        <td>0.08823000</td>
                        <td>21,070.92 BTC</td>
                    </tr>
                    <tr>
                        <td>INN / BTC</td>
                        <td>0.08823000 / $ 1,189.34</td>
                        <td class="green">+ 12.78 %</td>
                        <td>0.08823000</td>
                        <td>0.08823000</td>
                        <td>21,070.92 BTC</td>
                    </tr>
                    <tr>
                        <td>INN / ETH</td>
                        <td>0.08823000 / $ 1,189.34</td>
                        <td class="green">+ 12.78 %</td>
                        <td>0.08823000</td>
                        <td>0.08823000</td>
                        <td>21,070.92 BTC</td>
                    </tr>
                </tbody>
            </table>
            <div class="background"><img src="<%= asset_path 'form-bg.png' %>">
                <!--img(src='img/pages/elems/form-bg2.png')-->
            </div>
        </div>
    </div>
</section>
<section class="features">
    <h2 data-title="OUR FEATURES">OUR FEATURES</h2>
    <div class="container">
        <h5>Easily & Safely Buy Digital Currencies in Every Where, Every Time, Every Place</h5>
        <div class="features__wrapper">
            <!--.box-line-->
            <!--    img(src='img/pages/elems/features-line.png')-->
            <div class="box-line">
                <div class="point point--one">
                    <div class="center"></div>
                    <div class="circle"></div>
                    <div class="pulse"></div>
                </div>
                <div class="point point--two">
                    <div class="center"></div>
                    <div class="circle"></div>
                    <div class="pulse"></div>
                </div>
                <div class="point point--three mobile">
                    <div class="center"></div>
                    <div class="circle"></div>
                    <div class="pulse"></div>
                </div>
                <div class="point point--four mobile">
                    <div class="center"></div>
                    <div class="circle"></div>
                    <div class="pulse"></div>
                </div>
                <div class="color-line"></div>
            </div>
            <div class="features__block">
                <div class="logo"><img src="<%= asset_path 'features1.png' %>">
                    <!--svg: use(xlink:href='img/sprite-inline.svg#features1')-->
                </div>
                <div class="info">
                    <h6>Advanced Security</h6>
                    <p>Lorem ipsum dolor amet, consectetur semper. Sed mollis eleifend tortor eget dictum molestie vulputate.</p>
                </div>
            </div>
            <div class="features__block">
                <div class="logo"><img src="<%= asset_path 'features2.png' %>">
                    <!--svg: use(xlink:href='img/sprite-inline.svg#features2')-->
                </div>
                <div class="info">
                    <h6>Advanced Security</h6>
                    <p>Lorem ipsum dolor amet, consectetur semper. Sed mollis eleifend tortor eget dictum molestie vulputate.</p>
                </div>
            </div>
            <div class="features__block">
                <div class="logo"><img src="<%= asset_path 'features3.png' %>">
                    <!--svg: use(xlink:href='img/sprite-inline.svg#features3')-->
                </div>
                <div class="info">
                    <h6>Advanced Security</h6>
                    <p>Lorem ipsum dolor amet, consectetur semper. Sed mollis eleifend tortor eget dictum molestie vulputate.</p>
                </div>
            </div>
            <div class="features__block">
                <div class="logo"><img src="<%= asset_path 'features4.png' %>">
                    <!--svg: use(xlink:href='img/sprite-inline.svg#features4')-->
                </div>
                <div class="info">
                    <h6>Advanced Security</h6>
                    <p>Lorem ipsum dolor amet, consectetur semper. Sed mollis eleifend tortor eget dictum molestie vulputate.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="start">
    <h2 data-title="START TRADING WITHIN MINUTES">START TRADING WITHIN MINUTES</h2><a class="main-btn" href="/regist"><span>Create Account Now</span></a>
    <div class="social"><a href="#">
        <svg>
            <use xlink:href="<%= asset_path 'sprite-inline.svg#facebook' %>"></use>
        </svg></a><a href="#">
            <svg>
                <use xlink:href="<%= asset_path 'sprite-inline.svg#twitter' %>"></use>
            </svg></a><a href="#">
                <svg>
                    <use xlink:href="<%= asset_path 'sprite-inline.svg#google' %>"></use>
                </svg></a><a href="#">
                    <svg>
                        <use xlink:href="<%= asset_path 'sprite-inline.svg#linkedin' %>"></use>
                    </svg></a></div>
                    <div class="background"><img src="<%= asset_path 'circle.png' %>"></div>
                </section>
