<% @chats.each do |chat| %>
<div class="chat_item">
    <div class="username"><%= chat.member.username %></div>
    <div class="datetime"><%= chat.created_at %></div>
    <div class="message"><%= chat.message %></div>
    <div class="clearfix"></div>
</div>
<% end %>
