#welcome-index {
    // color: #333;
    // height: 100vh;
    // position: relative;
    //
    // .container {
    //   padding-top: 20px;
    // }
    //
    // .welcome-logo {
    //   display: flex;
    //   justify-content: center;
    //   align-content: center;
    //   img {
    //     display:    block;
    //     margin:     0 auto;
    //     width:      auto;
    //     height:     auto;
    //     max-width:  500px;
    //     max-height: 200px;
    //   }
    // }
    //
    // section {
    //   border-bottom: 1px dashed lighten($brand-primary, 20%);
    //   border-top: 1px dashed lighten($brand-primary, 20%);
    //   margin: 30px;
    //   padding: 30px;
    //   padding-top: 14px;
    // }
    //
    // #getstart {
    //   margin-bottom: 50px;
    // }
    h1,h2,p, ul, li, div, a{
        font-family: 'Lato', sans-serif !important;
    }
    .top_section{
        background-color: #349DCD;
        background-size: contain;
        background-repeat-y: no-repeat;
        background-position: left 0 bottom 65px;
        padding-bottom: 90px;
        .main_menu_wraper{
            display: none;
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                padding: 0;
                margin: 0;
                border: 1px solid white;
                height: 62px;
                color: white;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 100;
                & > a, & > li{
                    border-right: 1px solid white;
                    align-items: center;
                    display: flex;
                    &:last-child{
                        border-right: none;
                    }
                }
                a{
                    color: white;
                }
                .main_menu_logo{
                    padding: 0 2vw;
                    img{
                        width: 200px;
                    }
                }
                .main_menu_item{
                    padding: 0 1vw;
                }
                .main_menu_translation{
                    margin-left: auto;
                    padding: 0 2vw;
                    cursor: pointer;
                    img{
                        margin-right: 10px;
                    }
                    #languages{
                        background-color: #349DCD;
                        border-color: white;
                    }
                }
                .main_menu_auth{
                    padding: 0 2vw;
                    a{
                        // text-decoration: underline;
                        font-weight: 300;
                    }
                    span{
                        margin: 0 5px;
                    }
                }
            }
            &.mobile{
                display: block;
                .menu_btn{
                    padding: 0 20px;
                    font-size: 25px;
                }
            }
        }
        h1{
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-size: 25px;
            margin: 35px 0 15px;
        }
        h2{
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            text-align: center;
            border-bottom: 2px solid white;
            max-width: 225px;
            width: 100%;
            display: block;
            margin: auto;
            padding-bottom: 7px;
        }
        .form-group{
            margin: 0;
            input{
                max-width: 225px;
                width: 100%;
                margin: auto;
                background: none;
                border-radius: 0;
                border: 0;
                border-bottom: 1px solid white;
                color: white;
                font-weight: 300;
                text-align: center;
                padding: 3px 10px;
                height: auto;
                &::placeholder{
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
        .form-check{
            width: 225px;
            margin: auto;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            padding: 7px 7px 7px 25px;
            margin-bottom: 10px;
            a{
                color: black;
            }
        }
        .sign_up_button{
            background: none;
            margin: auto;
            display: block;
            text-transform: uppercase;
            color: white;
            font-size: 24px;
            font-weight: 100;
            padding: 5px 10px;
            max-width: 210px;
            width: 100%;
            outline: none;
            cursor: pointer;
            border: 1px solid white;
            border-radius: 4px;
            transition: all 0.5s;
            &:hover{
                background: white;
                color: #349DCD;
            }
        }
        a.sign_up_link{
            text-decoration: none;
        }
        .picture{
            margin-top: 80px;
            width: 100%;
        }
    }
    .info{
        background: #283543;
        color: white;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 100;
        line-height: 1;
        .info_title{
            padding: 15px 0 5px 0;

        }
        .info_value{
            font-weight: 300;
            padding-bottom: 10px;

        }

    }
    .reasons{
        padding-bottom: 65px;
        h1{
            text-align: center;
            text-transform: uppercase;
            font-size: 25px;
            color: #349DCD;
            margin-top: 30px;
            margin-bottom: 35px;
        }
        .reason_icon{
            text-align: center;
            img{
                height: 126px;
            }
        }
        .reason_title{
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            color: #349DCD;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .reason_text{
            text-align: center;
            font-size: 20px;
            color: #349DCD;
            line-height: 1.24;
            padding: 0 35px;
            margin-bottom: 20px;
        }
    }
    .trade{
        background: #283543;
        color: white;
        padding-top: 50px;
        padding-bottom: 15px;
        h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 25px;
            margin-bottom: 40px;
        }
        img{
            height: 50px;
            max-width: 100%;
            float: right;
        }
        .trade_title{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 300;
        }
        .trade_text{
            font-size: 22px;
            font-weight: 100;
            line-height: 1.3;
            margin-bottom: 50px;
        }
    }
    .download{
        padding-bottom: 40px;
        h1{
            font-size: 35px;
            margin-top: 40px;
            line-height: 1;
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 50px;
            line-height: 1.2;
        }
        .links{
            img{
                height: 37px;
                margin-right: 5px;
            }
        }
        .iphone_img{
            width: 425px;
            margin-top: 60px;
        }
    }
    .slogan{
        background: #349DCD;
        color: white;
        text-align: center;
        padding: 30px 0 30px 0;
        font-size: 22px;
    }
}
footer{
    background: #242528;
    color: white;
    padding-top: 60px;
    .footer_title{
        font-size: 22px;
        margin-bottom: 30px;
    }
    .footer_list{
        font-size: 18px;
        font-weight: 300;
        ul{
            list-style: none;
            padding: 0;
            li{
                padding-top: 4px;
            }
            a{
                color: white;
                &:hover{
                    color: white;
                }
            }
        }
    }
    .phone{
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 30px;
        i{
            font-size: 24px;
            margin-right: 15px;
        }
    }
    .address{
        font-size: 16px;
        font-weight: 100;
        line-height: 1.9;
        i{
            font-size: 30px;
            margin-right: 20px;
            float: left;
        }
        span{
            display: block;
            overflow: hidden;
        }
    }
    .copyright{
        text-align: center;
        margin-top: 65px;
        margin-bottom: 45px;
        font-weight: 300;
        a{
            color: white;
        }
    }
}
@media (max-width: 767px){
    #welcome-index{
        .top_section{
            .main_menu_wraper{
                &:not(.mobile){
                    position: absolute;
                    background-color: #349DCD;
                    z-index: 1;
                    top: 62px;
                    right: 0;
                    ul{
                        flex-direction: column;
                        height: auto;
                        & > a, & > li{
                            border: none;
                        }
                        li{
                            padding: 10px 15px;
                            width: 100%;
                        }
                        .main_menu_translation{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px){
    #welcome-index {
        .top_section{
            .main_menu_wraper{
                display: block;
                &.mobile{
                    display: none;
                }
            }
        }
        .top_section h1{
            font-size: 25px;
            margin: 35px 0 15px;
        }
        .reasons{
            h1{
                font-size: 25px;
                margin: 30px 0 35px;
            }
            .reason_title{
                font-size: 20px;
            }
        }
        .trade{
            h1{
                font-size: 25px;
                margin-bottom: 40px;
            }
            .trade_title{
                font-size: 18px;
            }
        }
        .info{
            div[class^="col"]{
                .info_title, .info_value{
                    border-right: 1px solid white;
                }
                &:last-child{
                    .info_title, .info_value{
                        border-right: none;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px){
    #welcome-index {
        .top_section h1{
            font-size: 35px;
            margin: 45px 0 30px;
        }
        .reasons{
            h1{
                font-size: 35px;
                margin: 30px 0 35px;
            }
            .reason_title{
                font-size: 25px;
            }
        }
        .trade{
            h1{
                font-size: 35px;
                margin-bottom: 40px;
            }
            .trade_title{
                font-size: 20px;
            }
        }
        .info{
            font-size: 33px;
        }
        .download{
            overflow: hidden;
            height: 430px;
            h1{
                font-size: 63px;
                margin-top: 105px;
            }
        }
    }
}
@media (min-width: 1200px){
    #welcome-index {
        .top_section h1{
            font-size: 50px;
            margin: 100px 0 35px;
        }
        .reasons{
            h1{
                font-size: 50px;
                margin: 55px 0 35px;
            }
            .reason_title{
                font-size: 30px;
            }
        }
        .trade{
            h1{
                font-size: 50px;
                margin-bottom: 70px;
            }
            .trade_title{
                font-size: 24px;
            }
        }
    }
}
