<% @guide_panel_title = 'Multi-factor auth' %>
<% content_for :guide_title do %>
  <h3>Multi-factor auth</h3>
<% end %>
<% if flash[:error] %>
  <%= flash[:error] %>
  <br />
<% end %>

<%= form_tag member_mfa_session_path, method: :post do %>
  <div class="actions">
    <%= text_field :auth, :mfa_code %>
    <%= submit_tag 'authenticate' %>
  </div>
<% end %>
