<%= simple_form_for @identity, :url => '/auth/identity/register' do |f| %>
  <%= f.input :email, :input_html => {:name => 'email', :autofocus => 'true'} %>
  <%= f.input :password, :input_html => {:name => 'password'} %>
  <%= f.input :password_confirmation, :input_html => {:name => 'password_confirmation'} %>
  <hr class="split">
  <%= f.button :wrapped, t('header.signup'), cancel: root_path %>
<% end %>
<%= content_for :guide do %>
  <ul class="list-unstyled">
      <li><a href='#{signin_path}'><%=t('.signin')%></a></li>
  </ul>
<% end %>
