<div class="row">
    <div id="guide" class="col-12 col-md-4">
        <%# content_for :guide_title do %>
          <h4 class="profile-email">
            <i class="fa fa-user"></i><span><%= current_user.email %></span>
          </h3>
        <%# end %>

        <%# content_for :guide do %>
          <% if current_user.admin? %>
            <span class="badge badge-warning">ADMIN</span>
          <% end %>
        <%# end %>
    </div>
    <div class="col-12 col-md-8">
        <%= form_tag ("/change_mfa_status") do %>
        <div class="row">
            <div class="col-12 input-group">
                <label>
                    <input id="two_factor_auth_status" name="two_factor_auth_status" type="checkbox" value="<%= current_user.two_factor_auth_status %>" <%= 'checked' if current_user.two_factor_auth_status == 1 %> >
                    Enable Multi-factor authentication
                </label>
            </div>
            <div class="col-12 input-group">
                <button class="main-btn transparent-btn" type="submit"><span>Save</span></button>
            </div>
        </div>
        <% end %>
        <% if current_user.two_factor_auth_status == 1 %>
        <div class="row">
            <div class="col-12 col-md-6">
            <img src="<%= current_user.google_qr_uri %>">
            </div>
            <div class="col-12 col-md-6">
                <p>Scan this QR code by MFA application to add new MFA account.</p>
                <p><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=ru">App for Android</a></p>
                <p><a href="https://itunes.apple.com/ru/app/google-authenticator/id388497605?mt=8">App for IPhone</a></p>
            </div>
        </div>
        <% end %>
        <hr>
    </div>
</div>
