<% translation_data = { currency: currency.code.upcase } %>
<% coin_proof       = instance_variable_get(:"@#{currency.code}_proof") %>
<% coin_account     = instance_variable_get(:"@#{currency.code}_account") %>
<div class="card card-default">
  <div class="card-body">
    <div class="row">
      <div id="guide" class="col-12 col-md-4">
        <h3><%= t('.title', translation_data) %></h3>
        <p class="text-ignore"><%= t('.intro', translation_data) %></p>
      </div>
      <div id="content" class="col-12 col-md-8">
        <div class="jumbotron">
          <div class="row">
            <div class="col-offset-4 col-8">
              <span class="pull-left"><%= t('.total', translation_data) %></span>
              <span class="pull-right">
                <%= coin_proof ? coin_proof.sum : t('private.assets.liability_proof_generation') %>
              </span>
            </div>
          </div>
          <% unless coin_proof&.addresses.blank? %>
            <div class="clearfix"></div>
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <td>
                    <%= t('.address', translation_data) %>
                  </td>
                  <td>
                    <%= t('.balance', translation_data) %>
                  </td>
                </tr>
                </thead>
                <tbody>
                <% coin_proof.addresses.each do |entry| %>
                  <tr>
                    <td>
                      <%= entry['address'] %>
                    </td>
                    <td>
                      <%= entry['balance'] %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
