
@import 'bourbon';


@import 'vars/bootstrap';
@import 'bootstrap';

@import 'vars/basic';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'theme/custom';
@import 'theme/theme';
@import 'theme/popover';
@import 'yarn_components/perfect-scrollbar/css/perfect-scrollbar';

.dl-horizontal {
  @extend .row;
  dt, dd {
    @extend .col-6;
    display: flex;
    align-items: center;
    min-height: 45px;
  }
  dt {
    text-align: right;
    font-weight: bold;
    max-width: 30%;
    display: inline-block;
  }
  dd {
    margin-bottom: 0;
    display: inline-block;
    span {
      width: 100%;
      word-wrap: break-word;
    }
  }
}


b.caret {
  margin-left: 5px;
}

.panel {
  .table td:first-of-type, .table th:first-of-type {
    padding-left: 14px;
  }
}

span.detail-item, span.detail-section { display: block; }

span.detail-item {
  & > i.fa {
    &:before {
      margin-right: 5px;
    }
  }

  margin-bottom: 4px;
  text-align: right;

  &:before {
    float: left;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    content: attr(data-title)':';
    font-size: 16px !important;
  }
}

span.detail-section {
  margin-left: 10px;
  margin-top: 30px;

  &:first-of-type {
    margin-top: 0px;
  }

  & + hr {
    margin-top: 2px;
    border-top: 1px solid rgb(50, 150, 146);
    border-bottom: 1px solid rgb(206, 207, 186);
  }
}

.editor {
  min-height: 300px;
  padding: 15px;
  margin-top: 8px;
  border: 1px solid lightgray;
}

.panel-footer {
  ul.pagination {
    margin: 0px;
  }
}

.unread {
  background: #f2f2f2;
}

[data-title] {
  &:before {
    .text-ignore {
      font-size: 16px;
      display: block;
      content: attr(data-title);
    }
  }
}

header {
  width: 100vw;
}

table.table {
  margin-bottom: 0;
}

.card.card-primary {
  .card-header {
    &, a {
      color: white;
    }
  }
}
.text_site_logo, .text_site_logo.closed{
    font-family: "Josefin Sans", helvetica, arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #cccccc;
}

.sidebar-closed .text_site_logo,
.text_site_logo.closed{
    display: none;
}
.sidebar-closed .text_site_logo.closed{
    display: block;
}
