@import 'bourbon';

@import 'vars/bootstrap';
@import 'bootstrap';

@import 'vars/basic';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'layouts/basic';
@import 'layouts/header';

@import 'features/welcome';
@import 'features/assets';
@import 'features/history';
@import 'features/funds';

@import 'theme/theme';

@import 'sessions';
@import 'normalize';

/* layouts
-------------------------------------------------------------- */
html, body {
  height: 100%;
  position: relative;
}

// disabling responsive
// .container {
//   min-width: 960px;
// }

#wrap {
  margin: 0 auto 0 - $footer-height;
  min-height: 100%;

  & + iframe { display: none; }

  #guide {
    padding-left: 26px;
  }

  #content {
    padding-top: 15px;

    .list-group {
      margin-right: -15px;
      margin-bottom: 0px;

      .list-group-item {
        border-left: 0px;
        border-right: 0px;

        &.split {
          padding-bottom: 8px;

          & > * {
            margin-top: 4px;
            margin-bottom: 0px;
          }
        }

        &:first-of-type {
          padding-top: 0px;
          border-top: 0px;
        }

        &:last-of-type {
          border-bottom: 0px;
        }
      }
    }
  }
}
// footer.footer {
//   color: $footer-color;
//   height: $footer-height;
//   margin-top: -$footer-height;
//   box-sizing: 'border-box';
//   padding-top: 20px;
//   width: 100%;
//   background-color: $footer-bg;
//   border-top: 1px solid $footer-border;
// }

#push {
  height: $footer-height;
  box-sizing: 'border-box';
}


/* ticker
------------------------------------------- */
.dl-horizontal.dl-ticker {
  margin-bottom: 10px;
  line-height: 40px;

  dt {
    width: 38px;
    cursor: pointer;
    color: $gray-400;
  }

  dd {
    margin-top: -4px;
    font-size: 20px;
    margin-left: 42px;
    font-family: monospace;
  }
}

/* simple_form mix
------------------------------------------------------- */
form.simple_form {
  .form-submit, .form-group {
    input[type=submit] + a, a + a {
      margin-right: $btn-gutter-width;
    }
  }

  hr.split {
    border-top-color: #DDD;
    margin-left: 10px;
    margin-right: 54px;
  }
}
/* flash message element

------------------------------------------------------- */
.flash-alert, .flash-notice {
  margin-top: 4px;
  margin-bottom: 4px;
  h5 i.fa { margin-right: 10px; }
}

@import 'layouts/custom';
@import 'custom/market';
