<h2 class="panel-title mb-3">{{"funds.deposit_fiat.title" | t:currencyTranslationLocals}}</h2>
<!--<div class="help-block" ng-bind-html="'funds.deposit_fiat.description' | t | unsafe"></div>

<div ng-bind-html="bank_details_html | unsafe"></div>

<div><span>Your reference: </span><strong ng-bind="current_user.sn"></strong>.</div>
<div class="text-muted">IMPORTANT: This code identifies your deposit with your account. Include this code when submitting wire transfer.</div>-->

<form name="form1" method="post" action="https://api.epay.com/paymentApi/merReceive">
    <input name="PAYEE_ACCOUNT" type="hidden" ng-value="data.epayEmail" />
    <input name="PAYEE_NAME" type="hidden" value="Deposit"/>
    <div class="form-group">
        <input name="PAYMENT_AMOUNT" type="number" min="0" step="0.01" placeholder="100" ng-model="data.amount" required class="form-control" />
    </div>
    <input name="PAYMENT_UNITS" type="hidden" value="EUR" />
    <input name="FORCED_PAYER_ACCOUNT" type="hidden" class="form-control" ng-value="current_user.sn"/>
    <input name="STATUS_URL" type="hidden" value="https://coinagewallet.com/epay/paystatus" />
    <input name="PAYMENT_URL" type="hidden" value="https://coinagewallet.com/epay/payment" />
    <input name="NOPAYMENT_URL" type="hidden" value="https://coinagewallet.com/epay/nopayment" />
    <input name="V2_HASH" type="hidden" class="form-control" ng-value="data.md5hash" />
    <input name="submit" class="btn btn-primary" type="submit" value="submit" />
</form>

<h2 class="panel-title mt-5 mb-3">{{ "funds.deposit_history.title" | t }}</h2>
<table class="table" ng-controller="DepositHistoryController as dhCtrl">
<thead>
  <tr>
    <th>{{ "funds.deposit_history.identification" | t }}</th>
    <th>{{ "funds.deposit_history.time" | t }}</th>
    <th>{{ "funds.deposit_history.amount" | t }}</th>
    <th>Fee</th>
    <th>{{ "funds.deposit_history.state_and_action" | t }}</th>
  </tr>
</thead>
<tbody>
  <tr class="deposit_item" ng-class="{ 'new-row':dhCtrl.newRecord(deposit) }" ng-repeat="deposit in dhCtrl.deposits | orderBy:predicate">
    <td><span class="outlined-label">{{ deposit.id }}</span></td>
    <td>{{ deposit.created_at | date:'yyyy-MM-dd HH:mm' }}</td>
    <td>{{ deposit.amount }}</td>
    <td>{{ deposit.fee }}</td>
    <td>{{ 'funds.deposit_history.' + deposit.aasm_state | t }}
      <span ng-if="dhCtrl.canCancel(deposit.aasm_state)">/
        <a ng-click="dhCtrl.cancelDeposit(deposit); $event.preventDefault()" href="#" class="cancel_link">{{ "funds.deposit_history.cancel" | t }}</a>
      </span>
    </td>
  </tr>
  <tr ng-show="dhCtrl.canCancel(deposit.aasm_state)"><th colspan="6"><span class="help-block text-center">{{ "funds.deposit_history.no_data" | t }}</span></th></tr>
</tbody>
</table>
<style>
@media (max-width: 1200px){
    .card-body tbody td:nth-of-type(1):before { content: '{{ "funds.deposit_history.identification" | t }}'; }
    .card-body tbody td:nth-of-type(2):before { content: '{{ "funds.deposit_history.time" | t }}'; }
    .card-body tbody td:nth-of-type(3):before { content: '{{ "funds.deposit_history.amount" | t }}'; }
    .card-body tbody td:nth-of-type(4):before { content: 'Fee'; }
    .card-body tbody td:nth-of-type(5):before { content: '{{ "funds.deposit_history.state_and_action" | t }}'; }
}
</style>
