<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/favicon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
    <%= stylesheet_link_tag stylesheet, media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
    <%= render 'shared/theme' %>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= render 'shared/html5' %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body class="ui-radius" data-lang="<%= locale_name %>" id="<%= body_id %>">

    <div id="wrap">
      <%= content_for?(:header) ? yield(:header) : render('shared/header') %>
      <%= content_for?(:frame) ? yield(:frame) : render('shared/frame') %>

      <div id="push"></div>
    </div>
    <%= content_for?(:footer) ? yield(:footer) : render('shared/footer') %>

  </body>
</html>
