<!DOCTYPE html>
<html lang="en" ng-app="funds">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <link href="/favicon.ico" rel="shortcut icon" />
    <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
    <%= stylesheet_link_tag stylesheet, media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
    <%= render 'shared/theme' %>
    <%= custom_stylesheet_link_tag_for :main %>

    <%= include_gon %>
    <%= render 'shared/html5' %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'funds' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= "#{locale_name}" %>">

    <div id="wrap">
      <%- if content_for?(:header) %>
        <%= yield(:header) %>
      <%- else %>
        <%= render 'shared/header' %>
      <%- end %>

      <div class='container'>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <%- if content_for?(:footer) %>
      <%= yield(:footer) %>
    <%- else %>
      <%= render 'shared/footer' %>
    <%- end %>

  </body>
</html>
