<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <meta name="google-site-verification" content="jltlg_FcjgUP59llho_tXdTNtMVW_-svakvlgl4IoQY" />
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <%# stylesheet_link_tag 'application', media: 'all' %>
    <%# render 'shared/theme' %>
    <%# custom_stylesheet_link_tag_for :main %>
    <%= stylesheet_link_tag 'sessions', media: 'all' %>
    <%= stylesheet_link_tag 'normalize', media: 'all' %>

    <%= include_gon %>
    <%= render 'shared/html5' %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
    <%= javascript_include_tag 'waypoint' %>
    <%= javascript_include_tag 'sessions' %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= locale_name %>" class="index">
    <div id="wrap">
      <%= yield %>
      <div id="push"></div>
    </div>
    <%# render 'shared/footer' %>
    <footer class="copyright">
        <div class="background"><?xml version="1.0" encoding="UTF-8"?>
            <svg width="320px" height="1200px" viewBox="0 0 320 1200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                <title>DA72699D-AC70-4743-B11B-03B36D615A58</title>
                <desc>Created with sketchtool.</desc>
                <defs></defs>
                <g id="innova-320" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="homepage-320" transform="translate(0.000000, -915.000000)" fill="#000662" stroke="#979797">
                        <path d="M-1638.67529,1871.30067 L-1101.23227,2973.22217 L1501.67529,1703.69933 L964.232266,601.777829 L-1638.67529,1871.30067 Z" id="Rectangle-11"></path>
                    </g>
                </g>
            </svg>
        </div>
        <p>©2018 All Rights Reserved. <a href="">User Agreement & Policies</a></p>
    </footer>
  </body>
</html>
