<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag 'sessions', media: 'all' %>
    <%= stylesheet_link_tag 'normalize', media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
    <%= javascript_include_tag 'waypoint' %>
    <%= javascript_include_tag 'sessions' %>
    <title><%= ENV.fetch('METADATA_TITLE') %></title>
  </head>
  <header class="header-light">
    <div class="container">
      <div class="header-light__wrapper">
        <a href="/">Innova.Exchange</a>
        <div class="languages">
          <ul>
            <li>
              <a class="<%= if I18n.locale.to_s == 'en' then 'active' end %>" href="?lang=en">En</a>
            </li>
            <li>
              <a class="<%= if I18n.locale.to_s == 'ru' then 'active' end %>" href="?lang=ru">Ru</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <body class="login form-page">
    <section class="form-page__main">
      <div class="container">
        <div class="form-page__main--wrapper">
          <%= yield %>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="column">
            <h6>Company</h6>
            <ul>
              <li>About us</li>
              <li>News</li>
              <li>Emergency Contacts</li>
              <li>Contact</li>
            </ul>
          </div>
          <div class="column">
            <h6>Customer Services</h6>
            <ul>
              <li>Blog</li>
              <li>FAQs</li>
              <li>Help</li>
              <li>Terms and Conditions</li>
            </ul>
          </div>
          <div class="column wide">
            <h6>Contact</h6>
              <ul>
                <li>
                  <svg>
	             <use xlink:href="<%= asset_path 'sprite-inline.svg#phone' %>"></use>
	          </svg>
	          <span>(+34) -653 378 193</span>
                  </li>
                  <li>
                  <svg>
	            <use xlink:href="<%= asset_path 'sprite-inline.svg#pin' %>"></use>
                  </svg>
	          <span>
	            Athinodorou Business Center 4th Floor, Suite 402 20 Charalambou
	            Mouskou & Grigori Afxentiou Street Paphos, Paphos, Cyprus
	          </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="copyright">
            <p>©2018 | Privacy Policy</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
